# موقع الإيمان للزيتون
title: الإيمان للزيتون
description: منصة لبيع زيت الزيتون والمخللات الطبيعية
baseurl: "/olive-website"
url: "https://samymno23-cpu.github.io"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Collections
collections:
  products:
    output: true
    permalink: /products/:name/

# Defaults
defaults:
  - scope:
      path: ""
      type: "products"
    values:
      layout: "product"
